
/*Plano de fundo*/
body{
    background-image: url("imagens/Marvel1.jpg");
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 25vh 50vh 25vh;
}

/*Só decoração*/

header{
   background: linear-gradient(to bottom, gray, transparent);
   height: 100px;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: right;
}
#leftheader{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

/*Página inicial*/

.cab{
    margin-top: 0;
    text-decoration: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding: 10px;
}
.cab:hover{
    border-bottom: 10px black;
}
main{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#principal{
    display: block;
    justify-content: center;
    text-align: center;
}
#img1{
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    margin: 10px;
}
#botao1{
    font-size: 10vh;
    padding: 10px;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    transition: 0.3s;
}
#botao1:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/*Nome e criação de perfil*/

#perfil{
    padding: 15px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    font-family: 'Times New Roman', Times, serif;

}
#nickname{
    border-radius: 7px;
    border: none;
    height: 30px;
    width: 200px;
}
#next2{
    margin-top: 15px;
    border-radius: 3px;
    background-color: rgb(80, 231, 80);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

/*Caixas de escolha das joias*/
#Guia2{
    padding: 15px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}
#tg{
    height: 50px;
    font-size: 30px;
    padding: 0;
    margin: 0;
}
#joias{
    margin-top: 3px;
    height: 50px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    padding: 0;

}
.infinity{
    box-shadow: 5px 5px 5px black;
    transition: 1s;
    border-bottom: 10px;
}
#next{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#nextb{
    padding-top: 5px;
}
.cm{
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    border-radius: 15px;
    transition: 0.3s;
}
.cm:hover{
    transform: scale(1.14);
}

/*Caixa das joias*/

#t{
  background-color: #056422; 
  transition: box-shadow 0.3s ease-in-out;
}
#p{
    background-color: #8A2BE2;
    transition: box-shadow 0.3s ease-in-out;
}
#e{
    background-color: #260cbc;
    transition: box-shadow 0.3s ease-in-out;
}
#a{
    background-color: #ffae00;
    transition: box-shadow 0.3s ease-in-out;
}
#m{
    background-color: #EBE21B;
    transition: box-shadow 0.3s ease-in-out;
}
#r{
    background-color: #8a0015;
    transition: box-shadow 0.3s ease-in-out;

}

/* Brilho das Joias */

#t:hover{
    box-shadow: 0 0 100px  rgb(2, 126, 33);
    filter: brightness(190%);
}
#p:hover{
    box-shadow: 0 0 100px #8A2BE2;
    filter: brightness(190%);

}
#e:hover{
    box-shadow: 0 0 100px #090080;
    filter: brightness(190%);

}
#a:hover{
    box-shadow: 0 0 100px #c4930f;
    filter: brightness(150%);

}
#m:hover{
    box-shadow: 0 0 100px #ffee00;
    filter: brightness(190%);

}
#r:hover{
    box-shadow: 0 0 100px #801103;
    filter: brightness(190%);

}



.infinity:hover{
    transform: scale(1.05);
}
/*Perguntas*/
.caixap{
    padding: 15px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    font-family: 'Times New Roman', Times, serif;
}

.sup{
    display: flex;
    justify-content: space-around;
}

.caixap .sup img{
    height: 120px;
    width: 150px;
    border-radius: 5px;
    margin: 7px;
    box-shadow: 5px 5px 5px rgb(44, 44, 44);

}

.caixap .baix button{
    border: none;
    border-radius: 15px;
    background-color: rgb(238, 232, 232);
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    margin-top: 10px;
}

.caixap .bb button{
    border: none;
    border-radius: 15px;
    background-color: rgb(238, 232, 232);
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    margin-top: 10px;
    transition: 0.2s;
}

.caixap .bb button:hover{
    color: gray;
    cursor: pointer;
}

/*Botões de ativar joias*/

#mind{
    background-color: #EBE21B;
    border-radius: 19px;
    padding: 10px;
    font-size: 50px;
    position: absolute;
    bottom: 90px;
    left: 60px;
    color: white;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    transition: 0.3s;
}
#soul{
    background-color:  #E8AD0E;
    border-radius: 19px;
    padding: 10px;
    font-size: 50px;
    position: absolute;
    bottom: 90px;
    left: 50px;
    color: white;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    transition: 0.3s;
}

#power{
    background-color:  #8A2BE2;
    border-radius: 19px;
    padding: 10px;
    font-size: 50px;
    position: absolute;
    bottom: 90px;
    left: 50px;
    color: white;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    transition: 0.3s;
}
#space{
    background-color:  #260cbc;
    border-radius: 19px;
    padding: 10px;
    font-size: 50px;
    position: absolute;
    bottom: 90px;
    left: 50px;
    color: white;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    transition: 0.3s;
}
#reality{
    background-color:  #8a0015;
    border-radius: 19px;
    padding: 10px;
    font-size: 50px;
    position: absolute;
    bottom: 90px;
    left: 50px;
    color: white;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    transition: 0.3s;
}
.imgj{
    height: 50px;
    width: 50px;
}
/*Brilho dos elememtos anteriores*/
#mind:hover{
    box-shadow: 0 0 100px  rgb(251, 255, 0);
    filter: brightness(200%);
}
#soul:hover{
    box-shadow: 0 0 100px  rgb(255, 217, 0);
    filter: brightness(200%);
}
#power:hover{
    box-shadow: 0 0 100px  rgb(162, 0, 255);
    filter: brightness(200%);
}
#space:hover{
    box-shadow: 0 0 100px  rgb(0, 47, 255);
    filter: brightness(200%);
}
#reality:hover{
    box-shadow: 0 0 100px  rgb(253, 0, 0);
    filter: brightness(200%);
}
/*Elementos relacionados as joias*/
#app{
    position: absolute;
    padding: 15px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #E8AD0E;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
}
.dicas{
    position: absolute;
    padding: 15px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #EBE21B;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
}

#contador{
    background-color: #26df84;
    border-radius: 19px;
    padding: 10px;
    font-size: 50px;
    position: absolute;
    bottom: 90px;
    left: 50px;
    color: white;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
}

#Notime{
    position: absolute;
    padding: 15px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    color: #26df84;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
}
/*Página Final*/
#p13{
    padding: 15px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px black;
    animation-name: A;
    animation-duration: 0.2s;
    font-family: 'Times New Roman', Times, serif;
}

/*Extras e animações*/

.poderjoia {
    animation: poder 4s forwards;
}

@keyframes A {
  from {
    margin-left: 300%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes poder {
    0% {
        background-color: initial; 
        opacity: 1; 
    }
    50% {
        background-color: #8A2BE2;
        box-shadow: 0 0 10x #8A2BE2;
        filter: brightness(10%);
        opacity: 1;
    }
    100% {
        background-color: #8A2BE2;
        filter: brightness(20%);
        opacity: 0; 
        visibility: hidden; 
    }
}

